
.stepNav{
	color: #16A32C;
	font-size:0.8rem;
	text-align: center;
}

button.stepNav{
	color: #16A32C;
    background-color: transparent;
    border-radius: 50% ;
    width: 3rem;
	height: 3rem; /* 1:1 Aspect Ratio */
	border: 1px solid #16A32C;
    vertical-align: middle;
	align-items: middle;
}

button.stepNav:not(.active):hover{
	color: #16A32C;
    background-color: transparent;	
}

button.stepNav.active{
	background-color: #16A32C;
	color: white;
}