
.stepNav{
	color: #16A32C;
	font-size:0.8rem;
	text-align: center;
}

.receiptImage{
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
}

button.stepNav{
	color: #16A32C;
    background-color: transparent;
    border-radius: 50% ;
    width: 3rem;
	height: 3rem; /* 1:1 Aspect Ratio */
	border: 1px solid #16A32C;
    vertical-align: middle;
	align-items: middle;
}

button.stepNav:not(.active):hover{
	color: #16A32C;
    background-color: transparent;	
}

button.stepNav.active{
	background-color: #16A32C;
	color: white;
}

@media only screen and (max-width: 600px) {
.detail-area b{
	font-size: 90%;

}

.not-cover-receipt{
	width: 100%;
    background-color: #00000051;	
	display: block;
	z-index: 1;
}
}


@media only screen and (min-width: 600px) {
.not-cover-receipt{
	width: 60%;
    background-color: #00000051;	
	display: block;
}
}
