.body {
    background-color: beige;
}

.tailes {
    width: 100%;
}

.carousel-inner {
    background-color: #515151;
    width: 100%;
}

.carousel-inner > .carousel-item {
    box-sizing: border-box;
    width: 100%;
}

.carousel-inner .carousel-item img {
    box-sizing: border-box;
    width: auto !important;
    height: 100%;
}

.content-box {
    min-height: 500px;
    background-color: #F8F9F9;
    display: flex;
    justify-content: start;
    align-content: flex-start;
}

.flex-6 {
    box-sizing: border-box;
    flex-grow: 6;
    max-width: 60%;
}

.flex-4 {
    box-sizing: border-box;
    flex-grow: 4;
    max-width: 40%;
}

.flex-3 {
    box-sizing: border-box;
    flex-grow: 3;
    max-width: 30%;
}

.flex-7  {
    box-sizing: border-box;
    flex-grow: 7;
    max-width: 70%;
}

.flex-2 {
    box-sizing: border-box;
    flex-grow: 2;
    max-width: 20%;
}

.flex-8 {
    box-sizing: border-box;
    flex-grow: 8;
    max-width: 80%;
}

.flex-box {
    box-sizing: border-box;
    width: 100%;
    display: flex;
	margin-bottom: 4%;
}

.separator-line {
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    max-height: 1px;
    min-height: 1px;
    width: 90%;
    min-width: 100px;
    color: lightgray;
}

.rounded-circle {
    border-radius: 50%;
}

.shadow .category-card-body{
    width: 164px;
    height: 164px;
    padding: 6px;
    align-items: center;
    text-align: left;
    font-size: 27px;
    color: white;
}

.promo-card {
    background-color: #F5F1F0;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #6E62F9 !important;
}

.btn-primary:hover {
    background-color: #584DDB !important;
}

.btn-primary:focus, .btn-primary.focus {
    background-color: #584DDB !important;
}

.white {color:#ffffff;}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.15)
}

.absolute-container {
    position: absolute;
    top: 200px;
    left: 10%;
    right: 10%;
}

b {
    font-size: large;
}