* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
	
}

nav{
	
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}


nav:before {
  content: "";
  position: fixed;
  top: -5%;
  left: -5%;
  right: 0;
  bottom: 0;
  z-index: -1;
  
  display: block;
  /* background: url("../img/background.jpg") no-repeat center center fixed; */
  background-color: #51515115;
  background-size:cover;
  width: 110%;
  height: 110%;
  
  /* -webkit-filter: blur(5px); */
  /* -moz-filter: blur(5px); */
  /* -o-filter: blur(5px); */
  /* -ms-filter: blur(5px); */
  /* filter: blur(5px); */
  filter: contrast(40%) brightness(50%);
}


body {
  font-family: 'Lexend Deca';
  background-size: cover;
  background-color: #F5F0F95B;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
	align-items: center;
	text-align: center;
	color: black;
}

.container{
	color: black;
	font-size: 16px;	
}

.container .help-block{
	color: #515151;
	font-size: 16px;
	font-style: italic;
}
.container h1{
	font-size: 128px;	
}
.container h2{
	font-size: 4vh;
	font-weight: 300;	
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.theme-main{
	color:white;
	background-color: #6E62F9;
}
.white-text{
	color:white;
}
.menu-scroll {
  overflow-y: scroll;
  max-height: 200px;
}
.card{
	padding:0px;
}
.shadow .category-card-body{
  width: 164px;
  height: 164px;
  padding: 6px;
  align-items: center;
  text-align: left;
  font-size: 27px;
  color: white;
}

.card-columns {
    column-count: 6;
}
.cat-sports{
  background: linear-gradient(180deg, #3B9A5F 25%, rgba(166, 95, 172, 0) 100%, rgba(166, 95, 172, 0) 100%), url('../img/categories/sports.jpg');
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cat-av{
  background: linear-gradient(180deg, #3B9A5F 25%, rgba(166, 95, 172, 0) 100%, rgba(166, 95, 172, 0) 100%), url('../img/categories/av.jpg');
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cat-books{
  background: linear-gradient(180deg, #3B9A5F 25%, rgba(166, 95, 172, 0) 100%, rgba(166, 95, 172, 0) 100%), url('../img/categories/books.jpg');
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cat-decor{
  background: linear-gradient(180deg, #3B9A5F 25%, rgba(166, 95, 172, 0) 100%, rgba(166, 95, 172, 0) 100%), url('../img/categories/decors.jpg');
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cat-households{
  background: linear-gradient(180deg, #3B9A5F 25%, rgba(166, 95, 172, 0) 100%, rgba(166, 95, 172, 0) 100%), url('../img/categories/household.jpg');
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cat-fashion{
  background: linear-gradient(180deg, #3B9A5F 25%, rgba(166, 95, 172, 0) 100%, rgba(166, 95, 172, 0) 100%), url('../img/categories/fashion.jpg');
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cat-electronics{
  background: linear-gradient(180deg, #3B9A5F 25%, rgba(166, 95, 172, 0) 100%, rgba(166, 95, 172, 0) 100%), url('../img/categories/electronics.jpg');
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cat-instruments{
  background: linear-gradient(180deg, #3B9A5F 25%, rgba(166, 95, 172, 0) 100%, rgba(166, 95, 172, 0) 100%), url('../img/categories/instruments.jpg');
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cat-tools{
  background: linear-gradient(180deg, #3B9A5F 25%, rgba(166, 95, 172, 0) 100%, rgba(166, 95, 172, 0) 100%), url('../img/categories/tools.jpg');
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.cat-services{
  background: linear-gradient(180deg, #3B9A5F 25%, rgba(166, 95, 172, 0) 100%, rgba(166, 95, 172, 0) 100%), url('../img/categories/services.jpg');
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.category-card-body:hover{
	background: #3B9A5F;
	-webkit-animation: fadein 1s;
	animation: fadein 1s;
}

.shadow .category-card-body.cat-all{
  height: 355px;
  background: #5A5AAF ;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.shadow .category-card-body.cat-all p{
	text-align: center;
	padding-top:75%;
}

footer{
	margin: 64px;
	align-items: center;
	text-align: center;
	font-size: 2vh;
	font-weight: 300;
	
}