.body {
    background-color: beige;
    font-family: 'Roboto', sans-serif;
}

.tailes {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 400px !important;
}

.carousel-inner > .carousel-item {
    box-sizing: border-box;
    width: 100%;
    max-height: 400px;
}

.carousel-inner > .carousel-item > img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.content-box {
    min-height: 500px;
    background-color: #F8F9F9;
    display: flex;
    justify-content: start;
    align-content: flex-start;
}

.flex-6 {
    box-sizing: border-box;
    flex-grow: 6;
    max-width: 60%;
}

.flex-4 {
    box-sizing: border-box;
    flex-grow: 4;
    max-width: 40%;
}

.flex-3 {
    box-sizing: border-box;
    flex-grow: 3;
    max-width: 30%;
}

.flex-7  {
    box-sizing: border-box;
    flex-grow: 7;
    max-width: 70%;
}

.flex-2 {
    box-sizing: border-box;
    flex-grow: 2;
    max-width: 20%;
}

.flex-8 {
    box-sizing: border-box;
    flex-grow: 8;
    max-width: 80%;
}

.flex-box {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    margin-top: 5%;
}

.separator-line {
    margin-left: 5%;
    margin-right: 5%;
    box-sizing: border-box;
    max-height: 1px;
    min-height: 1px;
    width: 90%;
    min-width: 100px;
    color: lightgray;
}

.circle-img {
    border-radius: 50%;
}

.shadow .category-card-body{
    width: 164px;
    height: 164px;
    padding: 6px;
    align-items: center;
    text-align: left;
    font-size: 27px;
    color: white;
}

.promo-card {
    background-color: #E5E7E9;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #6E62F9 !important;
}

.btn-primary:hover {
    background-color: #584DDB !important;
}

.btn-primary:focus, .btn-primary.focus {
    background-color: #584DDB !important;
}

.white {color:#ffffff;}

hr {
    border-top: 1px solid rgba(0, 0, 0, 0.15)
}